@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@font-face {
    font-family: 'SentenceDemo';
    src: url("../fonts/SentencedemoPersonalUse-BW7Ll.woff") format("woff"), url("../fonts/SentencedemoPersonalUse-BW7Ll.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'SentenceDemo'; 
*/