.contacts {
    max-width: $width;
    margin: 28px auto 0;

    &-inner {
        display: flex;
        justify-content: space-between;

        &__block {
            max-width: 228px;
            padding: 23px 0 29px;
            background: rgba(58, 32, 80, 0.7);
            border: 3px solid #B0E31B;
            border-radius: 20px;
            width: 100%;

            .contacts-text {
                max-width: 175px;
                margin: 0 auto;
                text-align: center;
                font-weight: 300;
                font-size: 16px;
            }

            .contacts-link {
                text-align: center;
                margin-top: 28px;

                a {
                    @include btn(8px 23px);
                }
            }
        }
    }
}