.main {
    position: relative;
    padding-top: 40px;

    .blur {
        top: 0;
    }

    &-inner {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        max-width: $width;
        background: rgba(58, 32, 80, 0.7);
        border: 3px solid #B0E31B;
        border-radius: 30px;

        padding: 37px 0 47px;

        &__text {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            max-width: 395px;
            margin: 0 auto;
            padding-bottom: 20px;

            span {
                color: #B0E31B;
            }
        }

        &__link {
            text-align: center;

            a {
                background: #B0E31B;
                border: 1px solid #B0E31B;
                box-shadow: 0px 4px 4px rgba(203, 196, 196, 0.1);
                border-radius: 20px;
                font-weight: 600;
                font-size: 14px;
                color: #383E4B;
                text-transform: uppercase;
                padding: 8px 48px;
                transition: all linear .1s;

                &:hover {
                    background: none;
                    box-shadow: none;
                    color: #fff;
                }
            }
        }
    }

    &-title {
        font-family: 'SentenceDEMO';
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        text-transform: capitalize;
        color: #B0E31B;
        padding-bottom: 17px;
    }

    &-fly1 {
        top: calc(-5% + 10px);
        right: 3%;
        width: 144px;
        transform: rotate(20deg);
    }

    &-fly2 {
        bottom: -13%;
        opacity: 0.9;
        width: 96px;
        left: -10%;
        transform: scaleX(-1) rotate(26deg);
    }
}