@font-face {
                                font-family : SentencedemoPersonalUse,BW7Ll;
                                font-display: swap;
                                src: url("../fonts/SentencedemoPersonalUse-BW7Ll.woff") format("woff"), url("../fonts/SentencedemoPersonalUse-BW7Ll.woff2") format("woff2");
                                font-weight: 400;
                                font-style: normal;
                            }
